* {
    text-align: center;
    font-family:"comic sans MS";
    color: white;
    box-sizing: border-box;
    
  }
  body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
    
  }
  
  main {
    flex: 1;
    display: flex;
    flex-direction: row;
  }
  header{
    flex:0 80;
    background: navy;
  }
  header h1{
    color: white;
  }
  footer{
    flex: 0 30;
    background: black;
    color: white;
  }
  section:nth-child(1){
    flex: 1;
    background: lightblue;
  }
  section:nth-child(2){
    flex: 5;
    background: darkgrey;
  }
  .container {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(autofill, minmax(100px, 1fr));
    grid-auto-rows: 100px;
    grid-gap: 1em;
  }
  .card{
    border: #333 solid thick;
    border-radius: 1em;
  }
  
  @media (max-height: 600px){
    header {
      display: none;
    }
    footer {
      diplay: none;
    }
  }